<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Gestion d'école</div>
  <div class="list-group list-group-flush">
    <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-light">
      <i class="fas fa-tachometer-alt"></i> Tableau de bord
    </a>
    <a routerLink="/classes" class="list-group-item list-group-item-action bg-light">
      <i class="fas fa-chalkboard-teacher"></i> Classes
    </a>
    <a routerLink="/eleves" class="list-group-item list-group-item-action bg-light">
      <i class="fas fa-user-graduate"></i> Élèves
    </a>
    <a routerLink="/enseignants" class="list-group-item list-group-item-action bg-light">
      <i class="fas fa-users"></i> Enseignants
    </a>
    <a routerLink="/matieres" class="list-group-item list-group-item-action bg-light">
      <i class="fas fa-book"></i> Matières
    </a>
    <a routerLink="/notes" class="list-group-item list-group-item-action bg-light">
      <i class="fas fa-clipboard-list"></i> Notes
    </a>
    <a routerLink="/bulletins" class="list-group-item list-group-item-action bg-light">
      <i class="fas fa-file-alt"></i> Bulletins
    </a>
    <a routerLink="/absences" class="list-group-item list-group-item-action bg-light">
      <i class="fas fa-user-clock"></i> Absences
    </a>
    <a routerLink="/documents" class="list-group-item list-group-item-action bg-light">
      <i class="fas fa-folder-open"></i> Documents
    </a>
  </div>
</div> 